
@{
    Layout = "~/Views/Shared/__Custom_1_Layout.cshtml";
}

@section title{
    <title> Sell Your Notes</title>

}
@section cssfile{

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/other/Dashboard.css">


}



    <!-- Custome CSS -->
    


<!--   bg set of n top-nav bar here -->
<div class="bg__dash_nav">

    <br><br><br><br>

</div>
<!--===========  Dashboard part ===================--->

<section id="dash">

    <!-- container -->
    <div class="container">
        <!-- title and  button row -->
        <div class="row" id="row_1">

            <div class="col-sm-12">
                <div class="deash_title_btn">
                    <h2> Dashboard</h2>
                    <button id="add_note_btn">ADD NOTE</button>

                </div>

            </div>

        </div>
        <!-- end of row -->
        <!-- my custom box row -->

        <div class="row">
            <!-- column 01-->
            <div class="col-sm-6">
                <div class="box_align">
                    <div class="my_custom_box">
                        <img src="~/Content/Front_Content/images/dashboard/salary.png">
                        <h4> My Earning</h4>
                    </div>
                    <div class="my_custom_box_2">

                        <div class="text_center">
                            <h3>100</h3>
                            <p>Number of Notes Sold</p>

                        </div>

                        <div class="text_center">
                            <h3>$10,00,000</h3>
                            <p>Money Earned</p>

                        </div>
                    </div>

                </div>
            </div>
            <!-- end of column 01-->
            <!-- column 02-->
            <div class="col-sm-6">

                <div class="box_align">
                    <div class="my_custom_box">

                        <h3> 38</h3>
                        <p>My Dowmnload</p>

                    </div>
                    <div class="my_custom_box">

                        <h3>12</h3>
                        <p>My Rejected<br>Notes</p>
                    </div>
                    <div class="my_custom_box">

                        <h3>102</h3>
                        <p>Buyer Requested</p>
                    </div>
                </div>
            </div>
            <!-- end of column 02-->
        </div>
        <!-- end of row -->
        <br><br>
        <!--======================table with search btn==========================-->
        <!-- table title row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <div class="deash_title_btn_table">
                    <h2> In Progress Notes</h2>
                    <!-- Search form -->
                    <div>
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button id="add_note_btn_search">SEARCH</button>
                    </div>
                </div>

            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row -->

        <br>
        <!-- Table 01 row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ADDED DATE</th>
                                <th scope="col">TITLE</th>
                                <th scope="col">CATEGORY</th>
                                <th scope="col">STATUS</th>
                                <th scope="col">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">09-10-2020</td>
                                <td>Data Science</td>
                                <td>Science</td>
                                <td>Draft</td>

                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/pencil%20(1).png">
                                    <img src="~/Content/Front_Content/images/dashboard/delete%20(1).png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">10-10-2020</td>
                                <td>Accounts</td>
                                <td>Commerce</td>
                                <td>In Review</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">11-10-2020</td>
                                <td>Social Studies</td>
                                <td>Social</td>
                                <td>Submited</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">12-10-2020</td>
                                <td>AI</td>
                                <td>IT</td>
                                <td>Submitted</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">13-10-2020</td>
                                <td>Data Science</td>
                                <td>Science</td>
                                <td>Draft</td>

                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/pencil%20(1).png">
                                    <img src="~/Content/Front_Content/images/dashboard/delete%20(1).png">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row -->
        <!-- row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <center>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </center>

            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row <-->
        <!--======================table with search btn + paging==========================-->
        <!--====================== publish table with search btn==========================-->
        <!-- table title row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <div class="deash_title_btn_table">
                    <h2>Published Notes</h2>
                    <!-- Search form -->
                    <div>
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button id="add_note_btn_search">SEARCH</button>
                    </div>
                </div>

            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row -->

        <br>
        <!-- Table 01 row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ADDED DATE</th>
                                <th scope="col">TITLE</th>
                                <th scope="col">CATEGORY</th>
                                <th scope="col">SELL TYPE</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">09-10-2020</td>
                                <td>Data Science</td>
                                <td>Science</td>
                                <td>Paid</td>
                                <td>$575</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">10-10-2020</td>
                                <td>Accounts</td>
                                <td>Commerce</td>
                                <td>Free</td>
                                <td>$0</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">11-10-2020</td>
                                <td>Social Studies</td>
                                <td>Social</td>
                                <td>Free</td>
                                <td>$0</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">12-10-2020</td>
                                <td>AI</td>
                                <td>IT</td>
                                <td>Paid</td>
                                <td>$3542</td>
                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">13-10-2020</td>
                                <td>Data Science</td>
                                <td>Science</td>
                                <td>Free</td>
                                <td>$0</td>

                                <td class="icon_align">
                                    <img src="~/Content/Front_Content/images/dashboard/eye.png">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row -->
        <!-- row -->
        <div class="row">
            <!-- column 01-->
            <div class="col-sm-12">

                <center>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </center>

            </div>
            <!-- end of column 01-->
        </div>
        <!-- end of row <-->
        <!--======================table with search btn + paging==========================-->
    </div>
    <!--  end of container -->
</section>

<!--===========End Dasboard part===================--->