
@{
    Layout = "~/Views/Shared/__Custom_1_Layout.cshtml";
}

@section title{
    <title>FAQ</title>

}
@section cssfile{

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/other/search_notes.css">

}

<section id="">
    <!-- header  section -->
    <!-- Header -->
   
    <!-- Header Ends -->
    <!-- end of header  section -->
    <!-- 2nd user profile text   section -->
    <div id="second_section">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 my_main_heading">

                    <h2>
                        <center>Frequently Asked Qustions</center>
                    </h2>

                </div>
            </div>

        </div>



    </div>
    <!-- end of 2nd user profile text   section -->
    <!-- Genreal qa  section -->
    <div class="section_heading">
        <div class="container">
            <!--====1st row ====-->
            <div class="row">
                <div class="col-sm-12">

                    <h2>General Qustions </h2>
                </div>
            </div>

            <!--====1st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h4>What Is Marketpace-Notes?</h4>
                            <button onclick="change_faq()" id="faq_expand_btn" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+</button>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 1st row ====-->
            <!--====2st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h5>What do the University say?</h5>
                            <button onclick="change_faq_2()" id="faq_expand_btn_2" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample_2" aria-expanded="false" aria-controls="collapseExample_2">+</button>
                        </div>
                        <div class="collapse" id="collapseExample_2">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 2st row ====-->
            <!--====3st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h5>Is this Legal?</h5>
                            <button onclick="change_faq_3()" id="faq_expand_btn_3" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample_3" aria-expanded="false" aria-controls="collapseExample_3">+</button>
                        </div>
                        <div class="collapse" id="collapseExample_3">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 3st row ====-->
        </div>
    </div>
    <!-- en geral Qa  section -->
    <!-- uploder section -->
    <div class="section_heading">
        <div class="container">
            <!--====1st row ====-->
            <div class="row">
                <div class="col-sm-12">

                    <h2>Uploaders </h2>
                </div>
            </div>



            <!--====4st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h5>What can't i sell?</h5>
                            <button onclick="change_faq_4()" id="faq_expand_btn_4" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample_4" aria-expanded="false" aria-controls="collapseExample_4">+</button>
                        </div>
                        <div class="collapse" id="collapseExample_4">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 2st row ====-->
            <!--====5st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h5>What notes can i sell?</h5>
                            <button onclick="change_faq_5()" id="faq_expand_btn_5" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample_5" aria-expanded="false" aria-controls="collapseExample_5">+</button>
                        </div>
                        <div class="collapse" id="collapseExample_5">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 3st row ====-->
        </div>
    </div>
    <!-- en geral Qa  section -->
    <!-- Downloader section -->
    <div class="section_heading">
        <div class="container">
            <!--====1st row ====-->
            <div class="row">
                <div class="col-sm-12">

                    <h2>Downloaders </h2>
                </div>
            </div>



            <!--====4st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h5>How do i buy notes?</h5>
                            <button onclick="change_faq_6()" id="faq_expand_btn_6" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample_6" aria-expanded="false" aria-controls="collapseExample_6">+</button>
                        </div>
                        <div class="collapse" id="collapseExample_6">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 2st row ====-->
            <!--====5st row ====-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="my_box_faq">

                        <div class="faq_plush">

                            <h5>Can i edit notes i purchased?</h5>
                            <button onclick="change_faq_7()" id="faq_expand_btn_7" class="btn btn-primary faq_expand_btn_class" type="button" data-toggle="collapse" data-target="#collapseExample_7" aria-expanded="false" aria-controls="collapseExample_7">+</button>
                        </div>
                        <div class="collapse" id="collapseExample_7">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==== end 3st row ====-->
        </div>
    </div>
    <!-- en geral Qa  section -->
</section>