
@{
    Layout = "~/Views/Shared/__Custom_1_Layout.cshtml";
}

@section title{
    <title>Notes Details</title>

}
@section cssfile{

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/other/Note_details.css">

}




<!-- basic profile detail section -->
<div class=" section_heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h2>Note Details </h2>
            </div>
        </div>
    </div>
</div>

<!-- Note Details section -->
<div id="section_basicform">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 content_text_dtls">

                <div id="img_book_dtls">
                </div>

                <div class="my_text_part">
                    <h3>Computer Science</h3>
                    <p>Science</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eligendi fugit sint accusamus, alias, architecto sapiente provident laboriosam doloremque ad, numquam excepturi dolorum tempore molestiae impedit. Ea suscipit, asperiores magni!</p>
                    <button class="my_button_down">Download/$15</button>
                </div>
            </div>


            <div class="col-sm-6">
                <!-- 1st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Institution:</span>
                        <span id="right_cnt">University of California</span>
                    </div>
                </div>

                <!-- 2st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Country:</span>
                        <span id="right_cnt"> United State</span>
                    </div>
                </div>

                <!-- 3st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Course Name:</span>
                        <span id="right_cnt">Computer Engineering</span>
                    </div>
                </div>

                <!-- 4st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Course Code:</span>
                        <span id="right_cnt">248705</span>
                    </div>
                </div>

                <!-- 5st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Professor:</span>
                        <span id="right_cnt">Mr. Richard Brown</span>
                    </div>
                </div>

                <!-- 6st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Number Of Pages:</span>
                        <span id="right_cnt">277</span>
                    </div>
                </div>
                <!-- 7 row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Approved date</span>
                        <span id="right_cnt">November 25 2020</span>
                    </div>
                </div>

                <!-- 8st row-->
                <div class="row">

                    <div class="book_information">
                        <span id="left_cnt">Rating:</span>
                        <span id="right_cnt">
                            <!-- rating-->
                            <div>

                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>

                <!-- 9 row-->
                <div class="row">

                    <div class="book_information">
                        <span class="my_red_text">5 Users marked this note as inappropriate</span>
                        <span id="right_cnt"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--==================================================================--->
<hr>
<!--==================================================================--->
<!--=========Note Preview========--->
<!-- Section -->
<section id="">
    <!-- heading section -->
    <div class="section_heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h2>Note Preview </h2>
                </div>
                <div class="col-sm-6">

                    <h2>Customer Reviews </h2>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">

            <div class="col-sm-6">

                <!-- responsive iframe -->
                <!-- ============== -->

                <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go <set->    </set->padding-cicis-menu-to-go set-border-cicis-menu-to-go <set-box-shadow-cicis-> </set-box-shadow-cicis->menu-to-go center-block-horiz">
                    <div class="responsive-wrapper
                                 responsive-wrapper-padding-bottom-90pct" style="-webkit-overflow-scrolling: touch; overflow: auto;">
                        <iframe src="http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf">
                            <p style="font-size: 110%;">
                                <em>
                                    <strong>ERROR: </strong>
                                    An &#105;frame should be displayed here but your browser version does not support &#105;frames.
                                </em> Please update your browser to its most recent version and try again, or access the file <a href="http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf">with this link.</a>
                            </p>
                        </iframe>
                    </div>
                </div>


            </div>
            <div class="col-sm-6">


                <div class="my_box_cr">
                    <!-- 1st box -->
                    <div class="review_box">

                        <div class="img_rv">

                            <img src="images/User-Profile/profile.jpg">

                        </div>

                        <div class="customer_detail">
                            <h3>Richard Brown</h3>
                            <!-- rating-->
                            <div>

                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                            <br><br>
                            <div class="text_cnt">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,eaque vitae ad, at dolores itaque!</p>

                            </div>

                        </div>
                    </div>
                    <hr>
                    <!-- end of 1st review -->
                    <!-- 1st box -->
                    <div class="review_box">

                        <div class="img_rv">

                            <img src="images/User-Profile/profile.jpg">

                        </div>

                        <div class="customer_detail">
                            <h3>Richard Brown</h3>
                            <!-- rating-->
                            <div>

                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                            <br><br>
                            <div class="text_cnt">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,eaque vitae ad, at dolores itaque!</p>

                            </div>

                        </div>
                    </div>
                    <hr>
                    <!-- end of 1st review -->
                    <!-- 1st box -->
                    <div class="review_box">

                        <div class="img_rv">

                            <img src="images/User-Profile/profile.jpg">

                        </div>

                        <div class="customer_detail">
                            <h3>Richard Brown</h3>
                            <!-- rating-->
                            <div>

                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                            <br><br>
                            <div class="text_cnt">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,eaque vitae ad, at dolores itaque!</p>

                            </div>

                        </div>
                    </div>

                    <!-- end of 1st review -->
                </div>

            </div>

        </div>


    </div>

</section>

<!--  END Section -->