
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Title -->
    <title>Login Page</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/bootstrap/bootstrap.min.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/responsive.css">

    <div>

        @RenderSection("cssfile", required: true)

    </div>
    


</head>


<body>

    @RenderBody()






    <!--======================================================-->
    <!-- JQuery -->
    <script src="~/Content/Front_Content/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/Front_Content/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/Front_Content/js/script.js"></script>
    <!--======================================================-->
</body>

</html>
