
@{
    Layout = null;
}
@model Notes__Marketplace.Models.ForgotPasswordModel
<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Title -->
    <title>Forgot Password</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/bootstrap/bootstrap.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front_Content/css/responsive.css">

</head>

<body>

    <!-- Form -->
    <section id="form_background">
        <div id="loginpage" class="container">

            <!-- Logo -->
            <div class="row justify-content-center">
                <div id="loginlogo" class="text-center col-md-6 col-12 col-sm-12">

                    <img src="~/Content/Front_Content/images/pre-login/top-logo.png" class="img-fluid" alt="Loin">
                </div>
            </div>


            <!-- Form -->
            <div class="row justify-content-center">

                <div class=" col-10 col-md-8 col-sm-10 col-lg-6">
                    <div id="loginform">

                        <h5 style="color:red; font-size:18px;">@ViewBag.erroRMsg</h5>
                        <!-- Head Section -->
                        <div id="login-head" class="text-center">
                            <h2>Forgot Password?</h2>
                            <p>Enter your email to reset your password</p>
                        </div>

                        <!-- Form -->
                        <form method="post">

                            <!-- Email -->
                            <div class="form-group">
                                <label class="mylabel" for="InputEmail1">Email</label>
                                <input name="EmailID" type="email" class="form-control InputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Address">
                            </div>

                            <!-- Submit Button -->
                            <input type="submit" value="Submit" submit" class="btn btn-primary btn-lg btn-block login-btn text-uppercase text-center" style=" background-color: #6255a5;height: 40px;width: 100%;border-radius: 3px;color: #fff;margin-top: 5px;font-style:"Open Sans";font-size: 18px; line-height: 25px;" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End -->
    <!--==============================================-->
    <!-- JQuery -->
    <script src="~/Content/Front_Content/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/Front_Content/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/Front_Content/js/script.js"></script>
    <!--==============================================-->
</body>

</html>