

@{
    Layout = "~/Views/Shared/__Custom_Admin_Layout.cshtml";
}

@section title{
    <title>Manage System Configuration </title>

}
@section cssfile{

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Admin/css/other/userprofile_style.css">


}

<!--For Pagination -->
@*@using PagedList.Mvc;
    @using PagedList;
    @model  IPagedList<Notes_MarketPlace.Db.SellerNotes>
     <center>@Html.PagedListPager(Model, page => Url.Action("SearchNotes", "User", new { page,search=Request.QueryString["search"] }))</center>
*@

@using PagedList.Mvc;
@using PagedList;
@*@model  IPagedList<Notes_MarketPlace.Db.SellerNotes>*@

@*@{
        IPagedList<Notes_MarketPlace.Db.SellerNotes> Model = ViewBag.DashIPNotesData;
        IPagedList<Notes_MarketPlace.Db.SellerNotes> ModelPublish = ViewBag.DashPublishNotesData;

    }*@



<!-- Custome CSS -->
<!--   bg set of n top-nav bar here -->
<div class="bg__dash_nav">

    <br><br><br><br>

</div>
<br>
<br>
<!--=============================================================================================-->
<!-- Manage Syste Config -->
<form>
    <!-- basic profile detail section -->
    <div class="section_heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h2>Manage System Configuration </h2>
                </div>
            </div>
        </div>
    </div>


    <div id="section_basicform">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <!-- first name-->
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="my_lable">Support emails address *</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email address">
                    </div>

                    <!-- last name-->
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="my_lable">Support phone number *</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your phone number">
                    </div>

                    <!-- email-->
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="my_lable">Email Address(es) (for various events system will send notification to these users) *</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email address">
                    </div>

                    <!-- Secondary email-->
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="my_lable">Facebook URL</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter facebook url">
                    </div>
                    <!-- Secondary email-->
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="my_lable">Twitter URL</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter twitter url">
                    </div>

                    <!-- Secondary email-->
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="my_lable">Linkedin URL</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter linkedin url">
                    </div>




                    <!-- Profile upload name-->
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="my_lable">Default image for notes (if seller do not upload)</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <img src="~/Content/Admin/images/User-Profile/upload.png" class="upload_logo">
                    </div>

                    <!-- Profile upload name-->
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="my_lable">Default profile picture (if seller do not upload)</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <img src="~/Content/Admin/images/User-Profile/upload.png" class="upload_logo">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <button class="my_button_submit">SUBMIT</button>
                </div>
            </div>



        </div>
        <!--========= right side ===========-->
    </div>

    <!-- end of address detail section -->
</form>
<!--  End OF Manage Syste Config -->