/* ================
   POPUP THANKS
==================*/
* {
    margin: 0;
    padding: 0;
}


.POP_btn {

    width: 100%;
    height: auto;
    -webkit-box-align: center;

    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.img_pop_menu {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
}

.img_pop_menu img {

    height: 63px;
    width: 63px;


}

#exampleModalLabel {

    font-family: Open Sans, sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #6255a5;

}

.modal-body {

    padding: 35px;
}

.modal-body h5 {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

..modal-body p {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;

}

/* ================
   POPUP Addreview
==================*/


/*========== 5 start code =============*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 45px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.my_cmt {
    position: relative;
    margin-top: 50px;

}

.btn_rvsubmit {
    background-color: #6255a5;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 25px;

}
