<div>

    Email from: <Support Email>
        Email sent to: <Admin Email Address(es) mentioned over system configuration tab>
            Subject: <User entered Name of person>
                - Query
                Body:
                Hello,
                <User entered comments or questions>
                    Regards,
                    < User entered Name of person >




                    Regards,<br>
                    Notes Marketplace</br>
</div>