<div>
    
    Subject: Note Marketplace - Email Verification</br>
   
    Hello,<br>

    
    Thank you for signing up with us. Please click on below link to verify your email address and to do login.
    
    
    <br>
    <button><a href=" @ViewBag.ConfirmationLink ">Click Here</a></button>



    Regards,<br>
    Notes Marketplace</br>
</div>