/*  =====================
Kishan Patel From GNU

=====================

/*=========================
    Html and Body
===========================*/
/*=========================
    Login Page Css is here
===========================*/
body {
    background-image: url('E:/TatvaSoft_training/project asmt-2/project/images/pre-login/banner-with-overlay.jpg');
    /* Full height */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

.container {

    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 100px;

}

#title-img {

    position: absolute;
    margin-left: 420px;
}

#form-content {

    background: #fff;
    position: absolute;
    width: 40%;
    height: 450px;
    margin-top: 60px;
    margin-left: 340px;
    border-radius: 6px;
}

#login h3 {

    text-align: center;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    color: #6255a5;
    margin-right: 730px;
    margin-top: -80px;
    font-size: 34px;

}

.login {
    text-align: center;
}

#login p {

    text-align: left;
    margin-left: 70px;
    margin-bottom: 10px;
    font-family: Open Sans, sans-serif;
}

.form-text {

    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;


}

input {
    color: #000;
    border: 1px solid #6255a5;
    width: 36%;
    height: 35px;
    border-radius: 3px;
    padding: 10px;
    margin-top: 0px;
}

.first_input {
    margin-left: 10px;
    margin-bottom: 15px;
}



#eye_img {
    position: absolute;
    margin-left: -35px;
    margin-top: 5px;

}

.form-text a {

    margin-left: 190px;
}

.form-content #red_text {

    margin-top: 10px;
    color: red;
    font-size: 13px;
    margin-bottom: 0px;
}

.form-content #checkbox {


    height: 30px;
    border-radius: 3px;
    margin-left: -184px;
    margin-top: -20px;
    margin-right: 0px;

}

.form-content #remember {

    margin-left: 49px;
    position: absolute;
    margin-top: -30px;

}

.form-content #signup {
    margin-left: 10px;
}

.form-content #aglin {


    margin-left: 100px;
}

/* Style the container */


/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* =============================== 
End of login page css 
===========================*/


/* =============================== 
button css
===========================*/


.submit-btn {
    background-color: #6255a5;
    width: 36%;
    height: 45px;
    border-radius: 3px;
    font-style: Open Sans;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: normal;
    margin-bottom: 20px;
    margin-top: 15px;
}

.signup-btn {
    background-color: #6255a5;
    width: 36%;
    height: 45px;
    border-radius: 3px;
    font-style: Open Sans;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: normal;
    margin-bottom: 10px;
    margin-top: 15px;
}

/* ============================== 
 start change password css
===========================*/


.formbg {

    background: #fff;
    position: absolute;
    width: 40%;
    height: 420px;
    margin-top: 60px;
    margin-left: 340px;
    border-radius: 6px;
}

/*===============================
End of change password page css
===========================*/

/* ============================== 
 start forgot password css
===========================*/
.formbgforgotpass {

    background: #fff;
    position: absolute;
    width: 40%;
    height: 290px;
    margin-top: 60px;
    margin-left: 340px;
    border-radius: 6px;
}

.login #taglinefp {

    margin-left: 60px;
}

/*=============================== 
End of forgot password page css
===========================*/

/* ============================== 
 start create an account page css
===========================*/
.login #taglineregister {

    margin-left: 110px;
}

.login #taggreen {

    color: green;
}

.formbgfor_create_an_ac {

    background: #fff;
    position: absolute;
    width: 30%;
    height: 600px;
    margin-top: 60px;
    margin-left: 340px;
    border-radius: 6px;
}

#position {
    margin-top: 10px;
}

#position_fn {
    margin-top: 5px;
    margin-bottom: 7px;
}

#position_e {

    margin-bottom: 10px;
}

/* ============================== 
 end of create an account page css
===========================*/
/*  By Kishankumar Patel From GNU  */
